<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>e@ebffo.ovm</string>
	<key>contactName</key>
	<string>Ross Barnes</string>
	<key>description</key>
	<string>Efficiently author modern CSS. Snippets for animations, gradients, flexbox, and so on.</string>
	<key>mainMenu</key>
	<dict>
		<key>excludedItems</key>
		<array/>
		<key>items</key>
		<array>
			<string>903705D2-A63A-4FAF-80B5-C68A3B37451D</string>
			<string>862383C3-ED1B-4395-80D4-8EDBD763D965</string>
			<string>01D4C024-B0C2-4D73-A5CC-EF7D75C9BD9B</string>
			<string>C72CEAAF-AF24-4C2C-95A7-EE008472F53A</string>
			<string>6FC590C3-008A-4799-A283-380A6AA70B01</string>
			<string>B6D6B706-1E67-4236-B03B-4238514D608B</string>
			<string>774B42DE-5598-42A0-8B33-10A2EAEB4F55</string>
			<string>A9D4F693-0F70-461B-8DCB-DACEA4BC5349</string>
			<string>25348824-F9ED-40F1-89A0-52689C28948B</string>
      <string>EF3AD8D8-0368-4BFD-81F3-D66D46DF7378</string>
			<string>------------------------------------</string>
			<string>C4C43569-B611-49C1-8101-F15E5718C58A</string>
			<string>------------------------------------</string>
			<string>35222962-C50D-4D58-A6AE-71E7AD980BE4</string>
			<string>C2620F02-6508-463C-BB01-06898202D52F</string>
			<string>950262E0-D103-4626-91AE-7BB0964EE8E6</string>
			<string>8862B709-7967-4E46-B6C5-1A2FEE4BA6D0</string>
			<string>46946FEC-8787-4B9B-983A-FF85D095A076</string>
			<string>02FDF62D-A707-4F44-9DDE-3C2FD926C479</string>
			<string>------------------------------------</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>01D4C024-B0C2-4D73-A5CC-EF7D75C9BD9B</key>
			<dict>
				<key>items</key>
				<array>
					<string>06113E9E-DEE2-4696-85BB-A1BBAD4D81DC</string>
					<string>32A2D038-91D8-49A6-A149-068EF59CEBCE</string>
					<string>496D4C5B-BE3D-4B6F-AF1F-7EDD5DC2124A</string>
					<string>C444BFED-20E7-452E-A078-6FF620E4FFAC</string>
					<string>58B023C6-62C9-4BE7-BD93-CD6C66209C27</string>
					<string>A8FFF90A-4872-44EB-AE11-3A7EC3D36F26</string>
				</array>
				<key>name</key>
				<string>Pseudos</string>
			</dict>
			<key>25348824-F9ED-40F1-89A0-52689C28948B</key>
			<dict>
				<key>items</key>
				<array>
					<string>DA5456A0-D679-4D65-BDC4-F03AAFEE6D93</string>
					<string>1DB75736-2C8D-48CB-939A-32CB2DAA7CA8</string>
					<string>83737D77-D98A-482A-A705-038FC105BDAA</string>
				</array>
				<key>name</key>
				<string>Web fonts</string>
			</dict>
			<key>35222962-C50D-4D58-A6AE-71E7AD980BE4</key>
			<dict>
				<key>items</key>
				<array>
					<string>513A4E7E-9BA9-4B57-B01A-412367B6B6A7</string>
					<string>8364368D-8893-4632-BE9C-CD3705B9E206</string>
					<string>D93995F4-C6E5-4D13-B066-7B60B5117A4A</string>
					<string>BCAFCF42-B61C-42CB-A2E2-3C6E534EC537</string>
					<string>E8D892B0-51BF-4657-B3E5-B5585FB6832A</string>
					<string>4255CA52-5F8B-47AF-B603-4EF0BBEDE9A0</string>
					<string>78DBF489-94E8-408A-BDDD-2FE44181F08F</string>
					<string>6773D7FE-C43E-4E48-AE34-F26919B63EF9</string>
					<string>8AC4B8D6-EB0B-4B11-B323-EC67F882BA13</string>
					<string>EE4D9814-2D0E-415F-9BF6-5FDF2861F279</string>
				</array>
				<key>name</key>
				<string>CSS color names</string>
			</dict>
			<key>46946FEC-8787-4B9B-983A-FF85D095A076</key>
			<dict>
				<key>items</key>
				<array>
					<string>D8F2E731-29AC-4854-8C7A-29E37D6884E8</string>
					<string>C5ABFB07-C349-480C-A7C9-FB91F1DE5AC4</string>
					<string>AB083B50-6276-4A85-826F-95E272D235BC</string>
					<string>5F9CD4BB-44A1-4D2C-A3E4-8A1DEE5CE142</string>
				</array>
				<key>name</key>
				<string>Vertical centering</string>
			</dict>
			<key>6FC590C3-008A-4799-A283-380A6AA70B01</key>
			<dict>
				<key>items</key>
				<array>
					<string>5F9A30F0-01C6-4B24-88C0-8180A488F321</string>
					<string>6AD0EA80-7660-421E-B9DF-D4200C1D033E</string>
				</array>
				<key>name</key>
				<string>Shadows</string>
			</dict>
			<key>774B42DE-5598-42A0-8B33-10A2EAEB4F55</key>
			<dict>
				<key>items</key>
				<array>
					<string>8B39FFA9-6D94-4FFF-A9FD-8E69CDED5A57</string>
					<string>------------------------------------</string>
					<string>AED6686D-2826-48D9-8C64-98AD45CE317C</string>
					<string>D9F3284D-3BD1-4A18-9AF1-3D72B007879C</string>
					<string>F8FD71F7-D603-4A59-BC81-8734A814F69C</string>
					<string>08909BFB-6025-43C0-8D12-FBD04A0A9A52</string>
					<string>67A5F54E-5478-4B32-9309-DEE49C5E5D3D</string>
					<string>9137B7AE-82DC-4BFC-A838-80CDDEA3D4A0</string>
					<string>B14B14F4-E92C-4F2E-A615-E4C41943CC9D</string>
					<string>------------------------------------</string>
					<string>922DCFAE-18D6-4D5C-8CE8-886928A4D810</string>
				</array>
				<key>name</key>
				<string>Conditional group rules</string>
			</dict>
			<key>862383C3-ED1B-4395-80D4-8EDBD763D965</key>
			<dict>
				<key>items</key>
				<array>
					<string>94CF2416-386F-422D-989F-99A1235F7AC5</string>
					<string>------------------------------------</string>
					<string>BE12266D-22EC-41E0-BB69-DBA3320A5380</string>
					<string>9FC85C60-FFEF-464B-B706-DA1A4BE394D5</string>
					<string>DFAF1CCF-10F2-432E-8324-0C40C2C3511C</string>
					<string>C6175A45-EAD8-4E82-A638-9A865243253C</string>
					<string>------------------------------------</string>
					<string>1F87D71E-98CE-42C0-9D86-8F562D76523A</string>
					<string>------------------------------------</string>
					<string>A33F3DF0-548E-4792-A464-F77C18B6BF17</string>
					<string>54E52438-C956-4CFA-8900-B828F91F1D5A</string>
					<string>93A27492-8EE3-453F-B852-CCE44E39A829</string>
					<string>26187AB5-D4F8-4F43-8984-322C15F492F1</string>
					<string>572D804C-4CE9-48B8-9D5B-8132564C4FEC</string>
					<string>B9DC7200-743A-4ED7-9A11-1CA6235348B9</string>
					<string>68E55674-A7D0-4571-B7EB-70F84BD51E0F</string>
					<string>2D29267C-53EB-4512-8007-81F4CDBBC53C</string>
					<string>------------------------------------</string>
					<string>D3B7AD5F-E53D-4431-A19C-24CC6E7A5F8E</string>
				</array>
				<key>name</key>
				<string>Animations</string>
			</dict>
			<key>8862B709-7967-4E46-B6C5-1A2FEE4BA6D0</key>
			<dict>
				<key>items</key>
				<array>
					<string>9CBB4A42-C011-4462-B157-CAD9BADDD9CB</string>
					<string>CD1374C9-8D2C-4F77-9494-03010AC6C70D</string>
					<string>9C5DFED2-4E94-40D4-9AD1-D4AE708EDD64</string>
				</array>
				<key>name</key>
				<string>Resets</string>
			</dict>
			<key>903705D2-A63A-4FAF-80B5-C68A3B37451D</key>
			<dict>
				<key>items</key>
				<array>
					<string>E47890E3-B3FE-4A33-BF72-B3697F31D8B4</string>
					<string>B316999A-AB72-427B-9A82-74EE9493D486</string>
					<string>------------------------------------</string>
					<string>B8150A34-0CFD-4414-B213-90C8DFB68D3F</string>
					<string>52878F0E-57E2-47DB-B4F9-9D7A7F4084D4</string>
					<string>04DAD3CD-098D-4912-843D-3CDC00361F6D</string>
					<string>FD89DA6B-7FD3-4046-8805-0CAEC276E916</string>
				</array>
				<key>name</key>
				<string>Transforms</string>
			</dict>
			<key>A9D4F693-0F70-461B-8DCB-DACEA4BC5349</key>
			<dict>
				<key>items</key>
				<array>
					<string>2BEDFCFD-951B-42D1-A56F-ADFDBD54608E</string>
					<string>82223A96-0E1F-4DED-9CD3-5C199032BB41</string>
					<string>6B2CD419-2513-43E5-8719-7FD0BB2B08C9</string>
					<string>64426140-9156-4365-96A6-5050BBF44C17</string>
					<string>16B99EE4-8F97-4ADE-8231-80B894C53AD6</string>
					<string>9A9B9B19-8712-4B59-BED2-53B117D550BA</string>
				</array>
				<key>name</key>
				<string>Filters</string>
			</dict>
			<key>B6D6B706-1E67-4236-B03B-4238514D608B</key>
			<dict>
				<key>items</key>
				<array>
					<string>C3205715-8FAF-4735-B482-6A97E3CEE69C</string>
					<string>1343ABF8-CDB6-42F5-B781-570723F58E47</string>
					<string>58DC89C6-D295-40E9-AF96-FF12F7DFD824</string>
					<string>1B3E4461-079F-45D5-9624-50B5DE36026C</string>
					<string>------------------------------------</string>
					<string>BE2145FA-25F0-4815-BCB9-FDCBA5D354B4</string>
					<string>6F55E012-798A-4A50-914B-9F1C2977E6B7</string>
					<string>FE7D0770-C712-47A2-A540-9E5E99AAB259</string>
					<string>6C842624-29D2-471B-B737-C056F00863EF</string>
				</array>
				<key>name</key>
				<string>Flexbox</string>
			</dict>
			<key>C2620F02-6508-463C-BB01-06898202D52F</key>
			<dict>
				<key>items</key>
				<array>
					<string>810B0345-CA61-4E84-A4F4-C0CFD48C45E3</string>
				</array>
				<key>name</key>
				<string>Clearfix</string>
			</dict>
			<key>C4C43569-B611-49C1-8101-F15E5718C58A</key>
			<dict>
				<key>items</key>
				<array>
					<string>36703F0B-E946-4B86-9ACD-E0F02B26E5AE</string>
					<string>A8FFF90A-4872-44EB-AE11-3A7EC3D36F26</string>
				</array>
				<key>name</key>
				<string>Non-standard</string>
			</dict>
      <key>C72CEAAF-AF24-4C2C-95A7-EE008472F53A</key>
      <dict>
        <key>items</key>
        <array>
          <string>70BA5993-5082-4B2E-8128-B68E872F8E0D</string>
          <string>6A987EAA-66C0-4780-8B2B-0802D30C1D6C</string>
        </array>
        <key>name</key>
        <string>Gradients</string>
      </dict>
      <key>EF3AD8D8-0368-4BFD-81F3-D66D46DF7378</key>
      <dict>
        <key>items</key>
        <array>
          <string>6F247B88-AE17-45BF-AFD9-08D26B089CF2</string>
          <string>D1C53042-201A-4A48-ABC9-8915A4FF317F</string>
          <string>D03AF7B6-E37D-460B-9137-1E2547C1D1F8</string>
					<string>------------------------------------</string>
          <string>AF58F1D7-45DF-414F-A7CB-586A0BBFA417</string>
          <string>1E693DCD-C0C9-4EA4-B2D9-1A4F25748E35</string>
          <string>E1B79F1F-DF86-40F1-B7E7-24193DD3A202</string>
          <string>E6A51285-1A48-4234-8951-0F399CBBA15B</string>
        </array>
        <key>name</key>
        <string>Columns</string>
      </dict>
		</dict>
	</dict>
	<key>name</key>
	<string>CSS Shuttle</string>
	<key>uuid</key>
	<string>0FF27C47-E93E-414E-B753-DC5A2ED84793</string>
</dict>
</plist>
